<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>상세페이지</title>

    <style>
        .d-flex{
            margin: auto;
            width: 50%;
        }

    </style>
    <script src="/js/home/detail.js" defer></script>

</head>

<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light" >
            <div class="container-fluid" height="500">
                <a class="navbar-brand" href="#">
                    <img src="https://file.mk.co.kr/meet/neds/2021/11/image_readtop_2021_1080531_16371756654852938.jpg"
                         alt="" width="60" height="60"
                         class="d-inline-block align-text-top">
                </a>
                <a class="navbar-brand" href="#">그냥 담아</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <form class="d-flex">
                        <input id="search" class="form-control me-2" style="right: 50px;"  type="search" placeholder="찾고싶은 상품을 검색해보세요!" aria-label="Search">
                        <button id="BtnSearch" class="btn btn-outline-success" type="submit">검색</button>
                    </form>
                    <div class="navbar-nav">
                        <a id="BtnLogin" class="nav-link" href="#">로그인</a>
                        <a id="BtnMypage" class="nav-link" href="#">마이페이지</a>
                        <a id="BtnCheckList" class="nav-link" href="#">체크리스트</a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                <img src="https://image.theminda.com/data/tg/image/tour/middle/201905/c8aee858ed6e8c34010fe3c4ae9be8a5.jpg" class="img-thumbnail" alt="Card image cap" width="250" height="150">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">List group item heading</h5>
                    <small>3 days ago</small>
                </div>
                <p class="mb-1">Some placeholder content in a paragraph.</p>
                <small>And some small print.</small>
            </a>
        </div>
</body>

</html>